*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.contenar{
    width: 95%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.box{
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0 1rem;
   border-radius: 50px;
   cursor: pointer;
   flex: 0.2;
   transition: all 2s ease;
   
}

.active{
    flex: 4;
}